/**
 * Theme Toggle Component Styles
 */

.theme-toggle-item {
  --background: transparent;
  --border-color: var(--auth-input-border-color);
  --color: var(--auth-text-color);

  ion-label {
    color: var(--auth-text-color);
  }
}